body {
  font-family: 'DM Sans', sans-serif;
  @apply flex h-full flex-col bg-zinc-50 dark:bg-black;
}

.page-enter-active,
.page-leave-active {
  transition: all 0.4s;
}
.page-enter-from,
.page-leave-to {
  opacity: 0;
  transform: scale(0.97);
}
